.app {
    width: 500px;
    margin: 0 auto;
    border: 10px solid pink;
    padding: 30px;
}
.message__author {
    font-weight: bold;
}

article:first-of-type {
    display: flex;
    color: red;
    font-size: 40px;
    padding: 20px;
    border: 1px solid black;
}
